#define VER_FILEVERSION 0,5,008,1
#define VER_FILEVERSION_STR "0.5.008.0\1"

#include <windows.h>

icono ICON "icon.ico"

#ifndef DEBUG
#define VER_DEBUG 0
#else
#define VER_DEBUG 1
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION VER_FILEVERSION
PRODUCTVERSION VER_FILEVERSION
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
// FILEFLAGS (VER_PRIVATEBUILD|VER_PRERELEASE|VER_DEBUG)
FILEOS VOS__WINDOWS32
FILETYPE VFT_DLL
FILESUBTYPE VFT2_UNKNOWN

BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
			BEGIN
				VALUE "CompanyName", "Jackestar"
				VALUE "FileDescription", "YoutubeDL Jackestar Qt Ver. Projecto Liluim Lis"
				VALUE "FileVersion", VER_FILEVERSION_STR
				VALUE "InternalName", "DL-JS Beta5"
				VALUE "LegalCopyright", "Jackestar 2020®"
				VALUE "LegalTrademarks1", "Jackestar and Thirds"
				VALUE "LegalTrademarks2", "Jackestar® and Thirds"
				VALUE "OriginalFilename", "YoutubeDL-JS"
				VALUE "ProductName", "YoutubeDL JS"
				VALUE "ProductVersion", VER_FILEVERSION_STR
			END
		END
	BLOCK "VarFileInfo"
	BEGIN
/* The following line should only be modified for localized versions. */
/* It consists of any number of WORD,WORD pairs, with each pair */
/* describing a language,codepage combination supported by the file. */
/* */
/* For example, a file might have values "0x409,1252" indicating that it */
/* supports English language (0x409) in the Windows ANSI codepage (1252). */
	VALUE "Translation", 0x409, 1252
	END
END
